<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697791618647-t1aarfpjdf8aq132dhsp789ib0dtsk1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697791618647-t1aarfpjdf8aq132dhsp789ib0dtsk1h</string>
	<key>API_KEY</key>
	<string>AIzaSyBwFLuYdgrq3zeX7clToERwxlt9Gh7sB8A</string>
	<key>GCM_SENDER_ID</key>
	<string>697791618647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heelpass.good-listener</string>
	<key>PROJECT_ID</key>
	<string>goodlistener-51d62</string>
	<key>STORAGE_BUCKET</key>
	<string>goodlistener-51d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697791618647:ios:2600eb2654a37d51fa4d12</string>
</dict>
</plist>